* {
text-align: center;
font-family: Helvetica;
}

.header{
background-image: url("resources/images/the-flatiron-building.png");
}

h1{
font-size: 70px;
font-weight: bold;
color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
font-size: 23px;
font-weight: bold;
}

.link{
  font-size: 18px;
  color: white;
}

p{
  font-size: 14px;
}

.white{
color: white;
background-image: url("resources/images/the-flatiron-building.png");
}

.footer{
text-align: left;
background-color: dimgray;
font-size: 11px;

}
